
  body {
    background-image: url("./2.gif");
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.button1 {
    position: fixed; /* 改為 fixed */
    background-color: rgb(0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    bottom: 20px; /* 固定在底部 */
    left: calc(10vw - 100px); /* 調整為視窗寬度的 10% */
    cursor: pointer;
    border-radius: 16px;
    font-weight: 1000;
    border: 2px solid gray;
    transition: border-color 0.3s;
}

.button2 {
    position: fixed; /* 改為 fixed */
    background-color: rgb(0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    bottom: 20px; /* 固定在底部 */
    right: calc(10vw - 100px); /* 調整為視窗寬度的 90% */
    cursor: pointer;
    border-radius: 16px;
    font-weight: 1000;
    border: 2px solid gray;
    transition: border-color 0.3s;
}

@keyframes colorChange {
    0% { background-color: red; }
    25% { background-color: yellow; }
    50% { background-color: blue; }
    75% { background-color: fuchsia; }
    100% { background-color: red; }
    0% { border-color: gray; }
    25% { border-color: red; }
    50% { border-color: gray; }
    75% { border-color: red; }
    100% { border-color: gray; }
}

.button1:hover, .button2:hover {
    animation: colorChange 4s infinite;
    animation-iteration-count: 2;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

li:last-child {
    border-right: none;
}

.active {
    background-color: #2196F3;
}